.insearch_search{
    margin-top: 0px;
    width: unset;
    margin: unset;
    max-width: unset;
}

.insearch_options{
    display: flex;
    align-items: center;
    color: gray;
    margin-left: 10px;
}

.insearch_options a {
    text-decoration: none;
    color: gray;
}

.insearch_optionleft {
    display: flex;
    align-items: center;
}

.insearch_option{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 15px;
}

.insearch_option a{
    margin-left: 5px;
    font-size: 14px;
}

.insearch_optionright a{
    margin-left: 20px;
}