.search_input{
    display: flex;
    align-items: center;
    height: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius:999px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.search_input > input{
    flex: 1;
    border: none;
    outline-width: 0px;
    margin-left: 10px;
    font-size: medium;
}

.search_input > .MuiSvgIcon-root{
    color: gray;
}

.search_buttons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.search_buttons > button{
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
}

.search_buttons > button:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.search_hidebutton{
    display: none !important;
}

@media (min-width:600px) {
    .search_input{
        width: 550px;
    }
}

@media (max-width:600px) {
    .search_input{
        width: 400px;
    }
}

@media (max-width:425px) {
    .search_input{
        width:300px;
    }
}